*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
input, textarea,button {
	outline: none;
	border: none;
	border: solid 1px #f2f2f2;
	border: none;
	outline: none; 
}
body{
	background-color: #1c1b1b;
	text-align: center;
	font-family: sans-serif;
}
.container{
	max-width: 930px;
	padding: 15px;
	margin: 0px auto;
}
.title{
	text-transform: uppercase;
}
.active-input{
	margin-top: 10px; 
	padding: 10px; 
}
.block__input{
	padding: 10px;
}
.section__second{
	margin-top: 30px; 
}
.block{
	margin-top: 20px; 
}
.out{
	color: #fff;
	font-weight: 800;
	font-size: 30px;  
}
.btn{
	padding: 10px;
}
.btn:active{
	background: #9c9898;
}